.card-nota_cabecalho{
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-nota_texto{
    margin-top: 8px;
    font-size: 1em;
}

.card-nota_titulo{
    font-size: 2em;
    margin-right: 12px;
}